<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://.w3.org/2001/XML/Schema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		http://xmlns/jcp/org/xml/ns/javaee/webapp3_1/xsd"
		version="3.1">

<servlet>
	<servlet-name>hello3</servlet-name>
	<servlet-class>chapter4.Hello3</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>hello3</servlet-name>
	<url-pattern>/chapter4/Hello3</url-pattern>
</servlet-mapping>
</web-app>